@use 'colors'

.lobby
    display: flex
    flex-direction: row
    align-content: start
    align-items: stretch
    justify-content: start

    
    #playerList
        justify-content: start
        align-items: stretch
        
        .playerStatus
            padding: 1em
            display: flex
            flex-wrap: nowrap
            flex-direction: row
            border: 2px solid black
            background-color: colors.$frameBackgroundColor
            &.online
                svg path
                    fill: colors.$greenPrimary
            &.offline
                opacity: .8
                svg path
                    fill: colors.$darkBlue
            &.empty
                opacity: .5

        button
            align-self: flex-end

#gameSettings
    display: flex
    flex-direction: row
    align-items: start

    .gameConfig
        display: flex 
        flex-direction: column
        align-items: start 
        justify-content: start
        flex-grow: 1