.lobby
    display: flex
    flex-direction: row
    align-content: start
    align-items: stretch
    justify-content: start

    
    #playerList
        justify-content: start
        .playerStatus
            padding: 1em
            display: flex
            flex-wrap: nowrap
            flex-direction: row
            border: 2px solid black

#gameSettings
    display: flex
    flex-direction: row
    align-items: start

    .gameConfig
        display: flex 
        flex-direction: column
        align-items: start 
        justify-content: start
        flex-grow: 1